<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <link rel="stylesheet" href="../css/global.css">
        <link rel="stylesheet" href="../css/learn.css">
        <title>Quizy</title>
    </head>
    <body>
        <div class="size-nav"></div>
        <div class="navContainer">
            <div class="topnav">
                <h1 class="heading">Quizy</h1>
                <div>
                    <a href="./index.html">Home</a>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <a href="./library.html" >Library</a>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <a>Create</a>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="back-container" id="back">
                <button class="back">
                    <i class="gg-chevron-left-o"></i>
                    <h3>back</h3>
                </button>
            </div>
        </div>
        
        
        <div class="progress-container">
            <div id="progress" class="progress"></div>
        </div>

        <div class="learn-card-container">
            <div class="learn-card">
                <div class="top-items">
                    <div class="option-activate" id="activateOptions"></div>
                </div>
                <div class="content">
                    <h3 id="term">Loading :)</h3>
                </div>
                <div class="bottom-items">
                    <div class="buttons" id="buttons">
                        <div class="button-container">
                            <div class="button" id="answer1"></div>
                            <div class="button" id="answer2"></div>
                        </div>
                        <div class="button-container">
                            <div class="button" id="answer3"></div>
                            <div class="button" id="answer4"></div>
                        </div>
                    </div>
                    <div class="writing-items">
                        <div class="form">
                            <div class="text-container">
                                <input id="text" type="text" placeholder="Type away" autocomplete="false" autocapitalize="false" spellcheck="false">
                            </div>
                            <div class="writing-buttons" id="writingButtons">
                                <button class="i-button" id="dontKnow" type="button">Don't know</button>
                                <button class="submit" id="submit">Submit</button>
                            </div>
                            <div id="correctTextContainer">
                                <p>Correct: </p>
                                <div class="text-container">
                                    <div class="text-display" id="correctText"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="popup" id="popupCon">
            <button class="popup-button" id="popup">Next</button>
        </div>

        <div class="options-container" id="options">
            <div class="options">
                <div>
                    <h4>Options</h4>
                    <div class="exit-container" id="exit">
                        <i class="gg-add"></i>
                    </div>
                </div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <p class="version_box">We are using Node.js <span id="node-version"></span>,
            Chromium <span id="chrome-version"></span>,
            and Electron <span id="electron-version"></span>.
        </p>
        <script src="../js/learn.js"></script>
    </body>
</html>