<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <link rel="stylesheet" href="../css/global.css">
        <link rel="stylesheet" href="../css/library.css">
        <title>Quizy</title>
    </head>
    <body>
        <div class="navContainer">
            <div class="topnav">
                <h1 class="heading">Quizy</h1>
                <div>
                    <a href="./index.html">Home</a>
                </div>
                <div class="active">
                    <a href="./library.html" >Library</a>
                </div>
                <div>
                    <a>Create</a>
                </div>
            </div>
        </div>

        <h3>Your sets: </h3>
        <table id="setGrid"></table>
        <p class="version_box">
            We are using Node.js <span id="node-version"></span>,
            Chromium <span id="chrome-version"></span>,
            and Electron <span id="electron-version"></span>.
        </p>
        <script src="../js/library.js"></script>
    </body>
</html>