<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <link rel="stylesheet" href="../css/global.css">
        <link rel="stylesheet" href="../css/sets.css">
        <title>Quizy</title>
    </head>
    <body>
        <div class="size-nav"></div>
        <div class="navContainer">
            <div class="topnav">
                <h1 class="heading">Quizy</h1>
                <div>
                    <a href="./index.html">Home</a>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <a href="./library.html" >Library</a>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <a href="./create.html">Create</a>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        
        <h3 id="setTitle"></h3>

        <div class="setnav">
            <button id="Flashcards">Flashcards</button>
            <button id="Learn">Learn</button>
        </div>

        <div class="set-info">
            <h4 id="termCount" >Terms in this set: </h4>
            <div>
                <h4>Sort by: </h4>
                <select id="sortOptions">
                    <option>Stats</option>
                    <option>Alphabetically</option>
                    <option>Original</option>
                </select>
            </div>
        </div>

        <div id="termList">
        </div>
        <div class="resetContainer">
            <button id="reset">Reset Progress</button>
        </div>
        <script src="../js/sets.js"></script>
    </body>
</html>