:root {
	--lightgray: rgb(218, 219, 220);
	--accent: #3898ec;
	--backgroundGray: rgb(246, 247, 251);
	--lightblue: rgb(188, 210, 242);
	--ggs2: 1.2;
	--ggs3: 1.3;
	--ggs4: 1.5;
	--learn-card-width: 50vw;
	--button-transition-time: 0.15s;
	--options-gear-size: 20px;
    --accent-hover: #77b4e8;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../assets/Montserrat.ttf');
}

body {
	overflow-y: hidden;
    --text-enabled: var(--accent);
}

.navContainer, .size-nav {
	box-shadow: unset;
	margin-bottom: unset;
}

h3 {
	text-align: center;
	font-size: 3rem;
	margin: 10px 0;
	font-weight: 500;
	overflow-wrap: break-word;
	overflow-y: auto;
	max-height: inherit;
	max-width: inherit;
}

.progress-container {
	background-color: var(--lightgray);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 4px;
}

.progress {
	width: 32%;
	height: 4px;
	background-color: var(--accent);
	vertical-align: 0;
	margin: 0;
	padding: 0;
}

.back-container {
	-webkit-app-region: no-drag;
	position: absolute;
	top: 12px;
	right: 40px;
	cursor: pointer;
	margin-left: auto;
	margin-right: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.back {
	transition: var(--button-transition-time);
	box-sizing: border-box;
	padding: 0 15px;
	border: 2px solid black;
	border-radius: 100px;
	display: flex;
	width: 150px;
	justify-content: center;
	align-items: center;
    cursor: pointer;
}

.back:hover {
	border-color: var(--accent);
	/* box-shadow: 0 0 3px var(--accent), inset 0 0 3px var(--accent); */
}

.back-container h3 {
	font-size: 1.5rem;
	padding-left: 15px;
}

.learn-card-container {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 20px;
}

.learn-card {
	box-sizing: border-box;
	width: var(--learn-card-width);
	min-height: calc(var(--learn-card-width)*0.675);
	height: min-content;
	max-height: 80vh;
	overflow-y: auto;
    overflow-x: hidden;
	min-width: 480px;
	max-width: 900px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 11%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	display: grid;
	padding: 20px;
	grid-template-rows: 50px minmax(160px, auto) min-content;
}

.top-items,
.content,
.bottom-items {
	display: flex;
	width: 100%;
}

.buttons {
	display: none;
	margin: 0;
	padding: 0;
}

.writing-items {
    /* display: none; */
	box-sizing: border-box;
	min-height: 120px;
}

.text-container {
	margin: 0 auto;
	width: 90%;
	background: var(--lightgray);
	padding: 10px 20px 6px;
	border-radius: 10px;
    border: 2px solid transparent;
}

.text-container::after {
	content: "";
	display: block;
	height: 2px;
	width: 100%;
}

.text-container:where(:focus-within, :hover)::after {
	background-color: var(--text-enabled);
}

.text-container:has(.text-display) {
    border-color: rgb(13, 216, 13);
    background-color: rgba(75 241 75 / 49%);
}

.text-display {
    color: rgb(9, 164, 9);
}

.text-container:has(.text-display)::after {
    display: none;
}

.text-container > div {
    margin: 0 auto;
	background-color: transparent;
	box-sizing: border-box;
	border: none;
	width: 100%;
	margin-bottom: 3px;
    padding: 1px 2px;
    line-break: anywhere;
}

#correctTextContainer > p {
    margin: 1rem 14px 0.5rem;
}

input[type="text"] {
	margin: 0 auto;
	background-color: transparent;
	box-sizing: border-box;
	border: none;
	width: 100%;
	font-family: Montserrat, monospace;
	margin-bottom: 3px;
}

input[type="text"]:focus-visible {
    outline: none;
}

.writing-buttons {
	width: min-content;
	display: flex;
	padding: 0;
	margin: 20px 1% 0 auto;
}


.submit {
	width: 90px;
	height: 40px;
	background-color: var(--accent);
	border: none;
	border-radius: 7px;
	margin-left: 20px;
    cursor: pointer;
    color: white;
    outline-color:black;
}

.submit:hover {
    background-color: var(--accent-hover);
}


.i-button {
    cursor: pointer;
	background-color: rgb(239, 239, 239);
	border: 1px solid black;
	transition: var(--button-transition-time);
	border-radius: 7px;
    width: 90px;
}

.i-button:hover {
	border-color: var(--accent);
	color: var(--accent);
}

.top-items {
	grid-area: 1/1/1/1;
	display: flex;
	align-items: center;
}

.option-activate {
	margin-left: auto;
	transform: scale(2.7);
	height: min-content;
	cursor: pointer;
	height: 20px;
    padding-right: 10px;
}

.option-activate:hover::after {
    transform: rotate(360deg);
}

.option-activate::after {
    transform-origin: 50% 68%;
    display: block;
    transition: 0.25s;
	content: "\2699";
	height: 15px;
    width: 14px;
    text-align: center;
    margin-top: -3px;
}

.option-activate:hover::after {
	color: #3898ec;
}

.star {
	position: relative;

	display: inline-block;
	width: 0;
	height: 0;

	margin-left: .9em;
	margin-right: .9em;
	margin-bottom: 1.2em;

	border-right: .3em solid transparent;
	border-bottom: .7em solid #fc0;
	border-left: .3em solid transparent;

	/* Controls the size of the stars. */
	font-size: 24px;
	transform: scale(var(--ggs3, 1));
}
.star:before,
.star:after {
	content: '';

	display: block;
	width: 0;
	height: 0;

	position: absolute;
	top: .6em;
	left: -1em;

	border-right: 1em solid transparent;
	border-bottom: .7em solid #fc0;
	border-left: 1em solid transparent;

	transform: rotate(-35deg);
}

.star:after {
	transform: rotate(35deg);
}

.content {
	grid-area: 2/1/2/1;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
}

.content h3 {
	font-size: 1.5em;
}

.bottom-items {
	grid-area: 3/1/3/1;
	display: flex;
	flex-direction: column;
}

.button-container {
	box-sizing: border-box;
	height: min-content;
	width: 100%;
	max-width: calc(var(--learn-card-width) - 60px);
	overflow-x: clip;
	display: flex;
	word-wrap: break-word;
}

.button {
	transition: 0.25s ease-out;
	box-sizing: border-box;
	margin: 10px;
	height: min-content;
	padding: 10px;
	max-width: calc(50% - 20px);
	border: 2px solid currentColor;
	border-radius: 5px;
	flex-grow: 1;
}

.button:hover {
	border-color: var(--accent);
}

.popup {
	display: none;
	/* display: flex; */
	justify-content: center;
	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.19), -1px -1px 2px rgba(0, 0, 0, 0.08);
	width: 30vw;
	height: min-content;
	padding: 5px 0;
	margin: 50px auto 0;
	animation-fill-mode: forwards;
}

.popup-button {
	background-color: var(--accent);
	color: white;
	width: min-content;
	padding: 5px 10px;
	font-size: 24px;
	font-weight: 400;
	border-radius: 10px;
}

.popup-button:hover {
	background-color: var(--accent-hover);
}

.options-container {
	/* display: flex; */
	display: none;
	position: absolute;
	top: 80px;
	left: 0;
	z-index: 3;
	height: calc(100vh - 80px);
	width: 100vw;
	justify-content: center;
	align-items: center;
	background-color: rgba(115, 115, 120, 0.448);
}

.options {
	height: min-content;
	width: 30vw;
	background-color: white;
	display: grid;
	grid-template-rows: 60px repeat(3, minmax(160px, min-content));
}

.options > div {
	border-bottom: 1px solid var(--lightgray);
	box-sizing: border-box;
}

.options > div:nth-child(1) {
	grid-area: 1/1/1/1;
	border-bottom-color: #3898ec;
	border-bottom-width: 2px;
	display: flex;
	align-items: center;
	padding: 5px 25px;
}

h4 {
	font-size: 25px;
	font-weight: 400;
	margin: 0;
}

.options > div:nth-child(2) {
	grid-area: 2/1/2/1;
}

.options > div:nth-child(3) {
	grid-area: 3/1/3/1;
}

.options > div:nth-child(4) {
	grid-area: 4/1/4/1;
}

.exit-container {
	margin-left: auto;
	cursor: pointer;
}

.exit-container:hover > .gg-add,
.exit-container:hover > .gg-add::after,
.exit-container:hover > .gg-add::before {
	border-color: #3898ec;
	color: #3898ec;
}

.gg-chevron-left-o {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs2, 1));
	width: 22px;
	height: 22px;
	border: 2px solid;
	border-radius: 100px;
}

.gg-chevron-left-o::after {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
	width: 6px;
	height: 6px;
	border-bottom: 2px solid;
	border-left: 2px solid;
	transform: rotate(45deg);
	left: 7px;
	top: 6px;
}

.gg-add {
	box-sizing: border-box;
	position: relative;
	display: block;
	width: 22px;
	height: 22px;
	border: 2px solid;
	transform: scale(var(--ggs4, 1)) rotate(45deg);
	border-radius: 22px;
}

.gg-add::after,
.gg-add::before {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
	width: 10px;
	height: 2px;
	background: currentColor;
	border-radius: 5px;
	top: 8px;
	left: 4px;
}

.gg-add::after {
	width: 2px;
	height: 10px;
	top: 4px;
	left: 8px;
}
