:root {
	--lightgray: rgb(218, 219, 220);
	--accent: #3898ec;
	--lightgray: rgb(246, 247, 251);
}

h3 {
	text-align: center;
	font-size: 3rem;
	margin: 10px 0;
}

.setnav {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-top: 35px;
}

.setnav a {
	border: none;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
	padding: 17px 12px;
	margin: 0px 6px;
	font-size: 17px;
}

.setnav button:hover {
	background-color: var(--accent);
}
